# conda create --name env_zy_swift python=3.11
# pip install -r requirements.txt -U -i https://pypi.tuna.tsinghua.edu.cn/simple
# -U 表示升级到指定版本的安装包


ms-swift[all]
torch>=2.0
transformers>=4.33
peft>=0.13,<0.16
modelscope>=1.23
trl==0.18
deepspeed>=0.14
vllm>=0.5.1
sglang
lmdeploy==0.8
evalscope>=0.11
vllm